<div class="app-container">
    <h1>{{ title }}</h1>
    <button (click)="openAddTaskForm()" class="btn btn-primary">Adicionar Task</button>
    <app-dashboard></app-dashboard>

    <div *ngIf="showAddTaskForm" class="modal">
      <div class="modal-content">
        <h2>Adicionar Nova Task</h2>
        <form (submit)="addTask()">
          <label>
            Nome:
            <input [(ngModel)]="newTask.name" name="name" required />
          </label>
          <label>
            Descrição:
            <textarea [(ngModel)]="newTask.description" name="description" required></textarea>
          </label>
          <label>
            Pontos:
            <input type="number" [(ngModel)]="newTask.points" name="points" required />
          </label>
          <label>
            Status:
            <select [(ngModel)]="newTask.status" name="status" required>
              <option *ngFor="let status of todosStatus" [value]="status">{{ status }}</option>
            </select>
          </label>
          <button type="submit">Salvar</button>
          <button type="button" (click)="closeAddTaskForm()">Cancelar</button>
        </form>
      </div>
    </div>
</div>